<div id="nav-items-left">

	<div id="nav-items">

		<ul>
			<li onclick="closeMenu()">Ocultar menu</li>
			<li onclick="closeMenu()" data-toggle="modal" data-target="#management-salary-income-modal">Gerenciar salário / renda</li>
			<li onclick="closeMenu()" data-toggle="modal" data-target="#management-benefits-modal">Gereciar benefícios</li>
			<li onclick="closeMenu()" data-toggle="modal" data-target="#new-cash-entrance-modal">Gereciar ganhos adicionais</li>
			<li onclick="closeMenu()" data-toggle="modal" data-target="#new-debt-for-pay-modal">Nova dívida</li>
			<!--li onclick="loadPanel('search-debt')">Procurar dívida</li-->
			<li onclick="closeMenu()" data-toggle="modal" data-target="#management-protection-modal">Gerenciar proteção</li>
			<!--li onclick="loadPanel('sync')">Sincronizar</li-->
			<li onclick="closeMenu()" data-toggle="modal" data-target="#tips-modal">Dicas</li>
			<li onclick="closeMenu()" data-toggle="modal" data-target="#tutorials-modal">Tutoriais</li>
			<li onclick="closeMenu()" data-toggle="modal" data-target="#releases-modal">Notas de lançamento</li>
			<li onclick="closeMenu()" data-toggle="modal" data-target="#privacy-modal">Termos de Privacidade</li>
			<li onclick="closeMenu()" data-toggle="modal" data-target="#about-this-apk-modal">Sobre este aplicativo</li>
		</ul>
		
	</div>

</div>
<div id="empty-space-menu" onclick="closeMenu()"></div>